<div class="row">
	{{!-- Make more mobile friendly--}}
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text" class="input-sm form-control" value=username enter="login" placeholder="Username" autofocus="autofocus"}}
							</div>
						</div>
            <div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=name enter="name" placeholder="Name" autofocus=autofocus}}
							</div>
						</div>
            <div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=email enter="email" placeholder="Email" autofocus=autofocus}}
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=password enter="login" placeholder="Password" type="password"}}
							</div>
						</div>
            <div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=age enter="age" placeholder="Age" autofocus=autofocus}}
							</div>
						</div>
            <div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=experience enter="experience" placeholder="Highest Level Achieved in Sport" autofocus=autofocus}}
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								</span>
								{{input type="text"class="input-sm form-control" value=level enter="level" placeholder="Desired Competition Level" autofocus=autofocus}}
							</div>
    					<!-- <label for="level">Select Desired Competition Level</label>
							<select name="level" class="form-control" id="level" value="level">
								<option value="">--Please choose an option--</option>
								<option value="Serious Players Only">Serious Players Only</option>
      					<option value="Play Hard, not Hurt">Play Hard, not Hurt</option>
      					<option value="Just Having Fun">Just Having Fun</option>
							</select> -->
						</div>
            <!--<div class="dropdown-container">
              <a class="ink nu dropdown-toggle" href="#">
                Campus & Culture<span class="icon-select"></span>
              </a>
              <ul class="dropdown-menu nu">
                <li><a href="default.aspx" class="active inherit-color">
                  Academic Experience</a>
                </li>

                <li class="divider inherit-bg"></li>

                <li><a href="the-hbs-case-method.aspx" class="white">
                    The HBS Case Method</a>
                </li>
                <li><a href="the-field-method.aspx" class="white">
                      The Field Method</a>
                </li>

                <li><a href="the-section-experience.aspx" class="white">
                        The Section Experience</a>
                </li>

              </ul>
            </div>
            ('Serious Players Only','Serious Players Only'),
                ('Play Hard, not Hurt','Play Hard, not Hurt'),
                ('Just Having Fun','Just Having Fun')
						<div class="form-group">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" {{action "register"}}>
						</div>-->
            <div class="actions">
              <div>
                <button {{action 'register'}}>
                  Register
                </button>
              </div>
            </div>
					</div>
				</div>

		</form>
	</div>
</div>
