<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="gameinfo">
                <h1>{{model.name}}</h1>
                <p>Description: {{model.description}}<br>
									Sport/Activity: {{model.sport}}<br>
									Location: {{model.location}}<br>
									Day and Time: {{model.date}}<br>
									Participants:
								</p>

								{{#each model.participants as |player|}}
                  {{#active-link}}{{#link-to 'show-player' player.id}}{{player.name}}{{/link-to}}{{/active-link}}
                {{/each}}
            </div>

            {{#if auth.isLoggedIn}}
              <div class="actions">
                <div>
                  <button {{action 'joingame' model.id auth.userid}}>
                    Join Game
                  </button>
                </div>
              </div>
            {{/if}}
					</div>
				</div>

		</form>
	</div>
</div>
