<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="groupinfo">
                <h1>{{model.name}}</h1>
                {{model.description}}
            </div>

            {{#if auth.isLoggedIn}}
							{{#if (check-membership auth.userid model.id) }}
							<div class="actions">
								<div>
									<button {{action 'joingroup' model.id auth.userid}}>
										Leave Group
									</button>
								</div>
							</div>
							{{else}}
								<div class="actions">
									<div>
										<button {{action 'joingroup' model.id auth.userid}}>
											Join Group
										</button>
									</div>
								</div>
							{{/if}}
            {{/if}}
					</div>
				</div>

		</form>
	</div>
</div>
