<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="groupinfo">
                <h1>{{model.name}}</h1>
                <h2>{{model.description}}</h2>
								<!-- {{model.players}} -->
								{{#each model.players as |player|}}
                  {{#active-link}}{{#link-to 'show-player' player.id}}{{player.name}}{{/link-to}}{{/active-link}}
                {{/each}}

            </div>

            {{#if auth.isLoggedIn}}
							{{#if (check-membership auth.userid model.id) }}
							<div class="actions">
								<div>
									<button {{action 'joingroup' model.id auth.userid}}>
										Leave Group
									</button>
								</div>
							</div>
							<!-- <div class="actions">
								<div>
									<button {{action 'creategame' model.id auth.userid}}>
										Schedule a Game
									</button>
								</div>
							</div> -->
							{{#active-link}}{{#link-to 'create-game' model.id}}Schedule a Game{{/link-to}}{{/active-link}}

							{{else}}
								<div class="actions">
									<div>
										<button {{action 'joingroup' model.id auth.userid}}>
											Join Group
										</button>
									</div>
								</div>
							{{/if}}
            {{/if}}

					</div>
				</div>

		</form>
	</div>
</div>
