<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="groupinfo">
                <h1>{{model.group.name}}</h1>
                <h2>{{model.group.description}}</h2>

								<h3>Players in Group:</h3>
								{{#each model.group.players as |player|}}
                  {{#active-link}}{{#link-to 'show-player' player.id}}{{player.name}}{{/link-to}}{{/active-link}}
                {{/each}}

								<h3>Games organized by Group:</h3>
								{{#each model.games as |game|}}
                  {{#active-link}}{{#link-to 'show-game' game.id}}{{game.name}}{{/link-to}}{{/active-link}}
                {{/each}}

            </div>


            {{#if auth.isLoggedIn}}
							<div class="actions">
								<div>
									<button {{action model.joinleave.controller model.group.id auth.userid}}>
										{{ model.joinleave.text }}
									</button>
								</div>
							</div>

							{{#active-link}}{{#link-to 'create-game' model.group.id}}Schedule a Game{{/link-to}}{{/active-link}}

            {{/if}}

					</div>
				</div>
		</form>
	</div>
</div>
